.grid {
  display: flex;
  flex-direction: column;
  padding: 10%;
  max-height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell{
  border: gray 1px solid;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: #EEEEEE;
  margin: 1px;
}

.origin{
  background-color: green;
}
