.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #36454F;
    color: white;
}

.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls{
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 5px;
  justify-content: center;
}

.direction-btn{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  width: 30px;
  line-height: 26px;
}

.direction-btn:disabled{
  background-color: #a0aec0;
  cursor: not-allowed;
}

.north{
  grid-column: 2;
  grid-row: 1;
}

.south{
  grid-column: 2;
  grid-row: 3;
}

.east{
  grid-column: 3;
  grid-row: 2;
}

.west{
  grid-column: 1;
  grid-row: 2;
}

.location{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 10%;
  max-height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cell{
  border: gray 1px solid;
  aspect-ratio: 1/1;
  background-color: #EEEEEE;
  min-width: 15px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current{
  background-color: black;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.explored{
  background-color: #F9F77A;
}

.origin{
  background-color: lightgreen;
  border:3px solid red;
  box-sizing: border-box;
}

.origin.N {
  border-top: none;
}

.origin.S {
  border-bottom: none;
}

.origin.E {
  border-right: none;
}

.origin.W {
  border-left: none;
}
